<br />
<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <img src="~/images/acessonegado.png" alt="Àrea de Administração" />
            <h1>Acesso Negado !</h1>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>
