@model Lanches.Web.Models.Categoria

<h2>Editar Categoria</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class="form-group">
                <label asp-for="CategoriaNome" class="control-label"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para Lista</a>
</div>

