<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="toshiossada@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (19) 9 9120-0273
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Rua Filipinas 428 - 13470-160 - Americana
        </p>
    </div>
</div>




