<br />
<br />
<img src="~/images/adminarea.jpg" alt="Àrea de Administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            Esta é a área do Administrador
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a> 
</div>


